[Desktop Entry]
Version=1.0
Name=Neovim
Comment=Edit text files
Exec=ghostty -e nvim %F
Terminal=false
Type=Application
Icon=nvim
Categories=Utilities;TextEditor;
StartupNotify=false
