# See https://git-scm.com/docs/git-config

[user]
	name = nate
	email = nate.stott@pm.me
	github = funkybooboo
	signingkey = 940CEDBCFE9E511A6EBF7CB33F60FF7C20F97B74

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[rebase]
	autoSquash = true
	updateRefs = true

[merge]
	conflictStyle = zdiff3

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = -version:refname

[rerere]
	enabled = true
	autoupdate = true

[core]
	editor = nvim
	pager = diffnav

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	file-decoration-style = blue ol
	hunk-header-decoration-style = blue ol
	zero-style = dim syntax
	merge-conflict-begin-symbol =  ▼
	merge-conflict-end-symbol =    ▲
	merge-conflict-ours-delim-style = dim red reverse
	merge-conflict-theirs-delim-style = dim green reverse

[commit]
	verbose = true
	gpgsign = true

[gpg]
	program = gpg
	format = openpgp

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true