[user]
	name = Nate Stott
	email = nate.stott@pm.me
	github = funkybooboo
	signingkey = 2EA6A92673E57680

[core]
	editor = nvim
	pager = delta

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[init]
	defaultBranch = main

[rerere]
	enabled = 1
	autoupdate = 1

[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[rebase]
	autoSquash = true
	updateRefs = true

[merge]
	conflictStyle = zdiff3

[delta]
    navigate = true
    line-numbers = true

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true

[commit]
	gpgsign = true

[gpg]
	program = gpg
	format = openpgp

[interactive]
	diffFilter = delta --color-only

