window#osd {
  border-radius: 999px;
  border: none;
  background: rgba(30, 30, 46, 0.9);
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: #cdd6f4;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(205, 214, 244, 0.2);
}
window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #89b4fa;
}
window#osd segment {
  margin-left: 8px;
}
window#osd segment:first-child {
  margin-left: 0;
}