[Desktop Entry]
Categories=AudioVideo;Audio;GTK;
Comment[en_US]=Listen to different sounds
Comment=Listen to different sounds
Exec=blanket
Icon=com.rafaelmardojai.Blanket
Keywords[en_US]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords=Concentrate;Focus;Noise;Productivity;Sleep;
Name[en_US]=Blanket
Name=Blanket
StartupNotify=true
Terminal=false
Type=Application
X-Purism-FormFactor=Workstation;Mobile;
