SUBSYSTEM=="power_supply", ATTR{type}=="Mains", RUN+="/usr/bin/systemd-run --no-block --collect --unit=power-profile-switch --property=After=power-profiles-daemon.service /home/nate/.local/lib/power-profile-switch"
SUBSYSTEM=="power_supply", ATTR{type}=="USB", RUN+="/usr/bin/systemd-run --no-block --collect --unit=power-profile-switch --property=After=power-profiles-daemon.service /home/nate/.local/lib/power-profile-switch"